/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
*{ font-size: 62.5%;
}
body{
  background: url("img/sky.jpg");
  background-size: cover;
  font-family: 'Space Mono', monospace;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;

}
fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  font-size: 4rem;
  border: dotted white 3px;
  padding: 10px;
  padding-right: 5px;
  padding-top: 5px;
}
button{
  padding: 10px;
  font-size: 8rem;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.349);
  border: none;
  line-height: 3rem;
  margin-left: 10px;
}
button:hover{
  color: rgb(198	100	0	);
}
form{
  margin: 0px;
  display: flex;
  flex-direction: column;
}
h2{
  margin: 0px;
  font-size: 5rem;
}
h3{
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.349);

  
}
label{
  font-family: 'Space Mono', monospace;
  font-size: 2rem;

}

aside{
  color: rgba(255, 255, 255, 0.463);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
